# --- Environnement Virtuel ---
.venv/
venv/
env/
bin/
lib/
include/

# --- Python Cache ---
__pycache__/
*.py[cod]
*$py.class

# --- Fichiers générés par gRPC ---
# On ignore les fichiers générés car ils dépendent de la version du compilateur
*pb2.py
*pb2_grpc.py
*pb2.pyi

# --- IDE & OS ---
.vscode/
.idea/
.DS_Store
Thumbs.db